<a href="https://colab.research.google.com/github/dayaniravi123/Machine-Learning-Projects/blob/main/Google_NLP_Competition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
path = '/content/drive/MyDrive/Machine Learning - Tensorflow /Google - NLP/train.csv'

train_ds = pd.read_csv(path)
train_ds.head()

          id  ... language
0  903deec17  ...    tamil
1  d9841668c  ...    tamil
2  29d154b56  ...    tamil
3  41660850a  ...    tamil
4  b29c82c22  ...    tamil

[5 rows x 6 columns]