<a href="https://colab.research.google.com/github/dayaniravi123/Machine-Learning-Projects/blob/main/NLP_Tweeter_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
path = '/content/drive/MyDrive/Machine Learning - Tensorflow /Corona NLP/Corona_NLP_train.csv'
path

'/content/drive/MyDrive/Machine Learning - Tensorflow /Corona NLP/Corona_NLP_train.csv'

In [8]:
## read dataset from csv file

dataset = pd.read_csv(path, encoding = "ISO-8859-1")
dataset

       UserName  ...           Sentiment
0          3799  ...             Neutral
1          3800  ...            Positive
2          3801  ...            Positive
3          3802  ...            Positive
4          3803  ...  Extremely Negative
...         ...  ...                 ...
41152     44951  ...             Neutral
41153     44952  ...  Extremely Negative
41154     44953  ...            Positive
41155     44954  ...             Neutral
41156     44955  ...            Negative

[41157 rows x 6 columns]