<a href="https://colab.research.google.com/github/dayaniravi123/Machine-Learning-Projects/blob/main/Rain_in_AUS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
## Implement all required libraries

import tensorflow as tf
import pandas as pd
import numpy as np

In [4]:
path = '/content/drive/MyDrive/Machine Learning - Tensorflow /Rain In AUS/weatherAUS.csv'
path

'/content/drive/MyDrive/Machine Learning - Tensorflow /Rain In AUS/weatherAUS.csv'

In [5]:
## load dataset using pandas library

dataset = pd.read_csv(path)

dataset

              Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0       2008-12-01   Albury     13.4  ...     21.8         No            No
1       2008-12-02   Albury      7.4  ...     24.3         No            No
2       2008-12-03   Albury     12.9  ...     23.2         No            No
3       2008-12-04   Albury      9.2  ...     26.5         No            No
4       2008-12-05   Albury     17.5  ...     29.7         No            No
...            ...      ...      ...  ...      ...        ...           ...
145455  2017-06-21    Uluru      2.8  ...     22.4         No            No
145456  2017-06-22    Uluru      3.6  ...     24.5         No            No
145457  2017-06-23    Uluru      5.4  ...     26.1         No            No
145458  2017-06-24    Uluru      7.8  ...     26.0         No            No
145459  2017-06-25    Uluru     14.9  ...     20.9         No           NaN

[145460 rows x 23 columns]